# Subsets for Control Removal

In [2]:
import pandas as pd
import numpy as np

In [3]:
endo = pd.read_csv("../../data/genbank/clean-csv/endometriosis.csv")

In [72]:
endo = endo.drop(endo.columns[0], axis=1)

In [73]:
endo.shape

(148, 54679)

In [57]:
endo.shape[1]-4

54676

In [140]:
ranges = [[np.min(x), np.max(x)] for x in [range(y*(endo.shape[1]-4)/10,(y+1)*(endo.shape[1]-4)/10) for y in range(0,10)]]
ranges

[[0, 5466],
 [5467, 10934],
 [10935, 16401],
 [16402, 21869],
 [21870, 27336],
 [27337, 32804],
 [32805, 38271],
 [38272, 43739],
 [43740, 49206],
 [49207, 54674]]

In [141]:
# ranges[len(ranges)-1][1] = ranges[len(ranges)-1][1]+1

In [142]:
ranges = pd.DataFrame(ranges, columns=["start", "end"])
ranges

   start    end
0      0   5466
1   5467  10934
2  10935  16401
3  16402  21869
4  21870  27336
5  27337  32804
6  32805  38271
7  38272  43739
8  43740  49206
9  49207  54674

All of these indices are off by "a count of 4". These four columns will be included in all subsets.

In [143]:
meta = endo[endo.columns[0:4]]
meta.head()

,sample,tissue,endometriosis,severity
0,GSM1256653,Early Secretory Endometrial tissue,Endometriosis,Moderate/Severe
1,GSM1256654,Early Secretory Endometrial tissue,Endometriosis,Moderate/Severe
2,GSM1256655,Proliferative Endometrial tissue,Endometriosis,Moderate/Severe
3,GSM1256656,Mid-Secretory Endometrial tissue,Endometriosis,Moderate/Severe
4,GSM1256657,Early Secretory Endometrial tissue,Endometriosis,Moderate/Severe

In [144]:
this_range = range(list(ranges.iloc[0])[0], list(ranges.iloc[0])[1])
this_cut   = endo[endo.columns[[x+4 for x in this_range]]]
this_cut.head()

,1007_s_at,1053_at,117_at,121_at,1255_g_at,1294_at,1316_at,1320_at,1405_i_at,1431_at,...,1560625_s_at,1560628_at,1560630_at,1560631_at,1560633_a_at,1560634_a_at,1560636_a_at,1560637_at,1560638_a_at,1560639_at
0,9.142574,6.829346,2.415871,9.034042,2.236067,4.555846,4.513244,2.236067,7.780779,2.253879,...,2.348291,3.221962,2.236067,2.236067,2.254974,2.236067,2.251998,2.263404,2.252366,3.704165
1,9.063049,7.241591,2.481975,9.148342,2.236067,4.395302,5.055301,2.236067,5.351146,2.253879,...,2.348291,2.236067,2.236067,2.244106,2.254974,2.236067,2.251998,2.263120,2.252366,3.592455
2,8.371274,6.217500,3.000367,8.194835,2.236067,4.262263,5.067819,2.236067,6.788972,2.253879,...,2.348291,2.392981,2.236067,2.236067,2.348030,2.236067,2.620396,2.305496,2.248250,3.651476
3,10.328161,5.956927,2.481975,11.259729,2.236067,5.402881,4.463150,2.236067,6.200862,2.253879,...,2.348291,2.312966,2.236067,2.236067,2.254974,2.236067,2.251998,2.423730,2.990474,3.592455
4,9.053309,7.327925,2.565015,7.999834,2.236067,5.339464,4.406136,2.236067,8.635627,2.253879,...,2.348291,3.285638,2.236067,2.236067,2.254974,2.236067,2.251998,2.258238,2.252366,3.960685

In [145]:
this_subset = meta.join(this_cut, how="outer")
this_subset.head()

,sample,tissue,endometriosis,severity,1007_s_at,1053_at,117_at,121_at,1255_g_at,1294_at,...,1560625_s_at,1560628_at,1560630_at,1560631_at,1560633_a_at,1560634_a_at,1560636_a_at,1560637_at,1560638_a_at,1560639_at
0,GSM1256653,Early Secretory Endometrial tissue,Endometriosis,Moderate/Severe,9.142574,6.829346,2.415871,9.034042,2.236067,4.555846,...,2.348291,3.221962,2.236067,2.236067,2.254974,2.236067,2.251998,2.263404,2.252366,3.704165
1,GSM1256654,Early Secretory Endometrial tissue,Endometriosis,Moderate/Severe,9.063049,7.241591,2.481975,9.148342,2.236067,4.395302,...,2.348291,2.236067,2.236067,2.244106,2.254974,2.236067,2.251998,2.263120,2.252366,3.592455
2,GSM1256655,Proliferative Endometrial tissue,Endometriosis,Moderate/Severe,8.371274,6.217500,3.000367,8.194835,2.236067,4.262263,...,2.348291,2.392981,2.236067,2.236067,2.348030,2.236067,2.620396,2.305496,2.248250,3.651476
3,GSM1256656,Mid-Secretory Endometrial tissue,Endometriosis,Moderate/Severe,10.328161,5.956927,2.481975,11.259729,2.236067,5.402881,...,2.348291,2.312966,2.236067,2.236067,2.254974,2.236067,2.251998,2.423730,2.990474,3.592455
4,GSM1256657,Early Secretory Endometrial tissue,Endometriosis,Moderate/Severe,9.053309,7.327925,2.565015,7.999834,2.236067,5.339464,...,2.348291,3.285638,2.236067,2.236067,2.254974,2.236067,2.251998,2.258238,2.252366,3.960685

In [146]:
this_file = "../../data/genbank/cut_1_test.csv"
this_subset.to_csv(this_file, encoding="utf-8")

In [150]:
def cut_csv(ranges, out_name):
    this_range = range(ranges[0], ranges[1])
    this_cut   = endo[endo.columns[[x+4 for x in this_range]]]
    this_subset = meta.join(this_cut, how="outer")
    this_file = "../../data/genbank/subsets-for-control-removal/" + out_name + ".csv"
    this_subset.to_csv(this_file, encoding="utf-8")

In [151]:
out_names = ["cut_"+str(x) for x in range(1,11)]
out_names

['cut_1',
 'cut_2',
 'cut_3',
 'cut_4',
 'cut_5',
 'cut_6',
 'cut_7',
 'cut_8',
 'cut_9',
 'cut_10']

In [152]:
for index, row in ranges.iterrows():
    print(index)
    cut_csv(list(row), out_names[index])

0
1
2
3
4
5
6
7
8
9